@model Category
@{ ViewData["Title"] = "Detail"; }

<div class="container">
    <div class="row">
        <div class="col-6">
            <img style="width:250px; height:150px" src="~/images/@Model.ImageUrl" /><br />
            <p>@Model.Name</p>
            <div class="col-6">
                <a asp-controller="Slider" asp-action="Index" class="btn btn-warning">Go Back</a>
            </div>
        </div>
    </div>
</div>
