@model HomeVm
<!doctype html>
<html class="no-js" lang="en">


<!-- Mirrored from demo.hasthemes.com/allup/allup/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 04 Sep 2020 10:46:32 GMT -->
<head>
    <meta charset="utf-8">

    <!--====== Title ======-->
    <title>Allup - Electronics Responsive eCommerce HTML Template.</title>

    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!--====== Favicon Icon ======-->
    <link rel="shortcut icon" href="~/images/favicon.png" type="image/png">


    <!-- CSS
    ============================================ -->
    <!--===== Vendor CSS (Bootstrap & Icon Font) =====-->

    <link rel="stylesheet" href="~/assets/css/plugins/bootstrap.min.css">
    <link rel="stylesheet" href="~/assets/css/plugins/ionicons.min.css">
    <link rel="stylesheet" href="~/assets/css/plugins/fontawesome.min.css">

    <!--===== Plugins CSS (All Plugins Files) =====-->

    <link rel="stylesheet" href="~/assets/css/plugins/slick.css">
    <link rel="stylesheet" href="~/assets/css/plugins/animate.css">
    <link rel="stylesheet" href="~/assets/css/plugins/jquery-ui.min.css">
    <link rel="stylesheet" href="~/assets/css/plugins/default.css">

    <!--====== Main Style CSS ======-->
    <link rel="stylesheet" href="~/assets/css/style.css">


    <!--====== Use the minified version files listed below for better performance and remove the files listed above ======-->
    <!-- <link rel="stylesheet" href="~/assets/css/vendor/plugins.min.css">
    <link rel="stylesheet" href="~/assets/css/style.min.css"> -->

</head>

<body>

    <!--====== PRELOADER PART START ======-->

    @*<div id="preloader">
        <div class="preloader">
            <span></span>
            <span></span>
        </div>
    </div>*@

    <!--====== PRELOADER PART ENDS ======-->
    <!--====== Header Part Start ======-->

    @await Component.InvokeAsync("Header");

    <!--====== Header Part Ends ======-->
    @RenderBody()
    <!--====== Footer Part Start ======-->

    @await Component.InvokeAsync("Footer");
    <!--====== Footer Part Ends ======-->
    <!--====== Quick View Part Start ======-->
    <!-- Modal -->
    <div class="modal fade " id="productQuickModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <i class="fal fa-times"></i>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="product-quick-view-image mt-30">
                                <div class="quick-view-image">
                                    <div class="single-view-image">
                                        <img src="~/images/product-quick/product-1.jpg" alt="product">
                                    </div>
                                    <div class="single-view-image">
                                        <img src="~/images/product-quick/product-2.jpg" alt="product">
                                    </div>
                                    <div class="single-view-image">
                                        <img src="~/images/product-quick/product-3.jpg" alt="product">
                                    </div>
                                    <div class="single-view-image">
                                        <img src="~/images/product-quick/product-4.jpg" alt="product">
                                    </div>
                                    <div class="single-view-image">
                                        <img src="~/images/product-quick/product-5.jpg" alt="product">
                                    </div>
                                </div>
                                <ul class="quick-view-thumb">
                                    <li>
                                        <div class="single-thumb">
                                            <img src="~/images/product-quick/product-1.jpg" alt="">
                                        </div>
                                    </li>
                                    <li>
                                        <div class="single-thumb">
                                            <img src="~/images/product-quick/product-2.jpg" alt="">
                                        </div>
                                    </li>
                                    <li>
                                        <div class="single-thumb">
                                            <img src="~/images/product-quick/product-3.jpg" alt="">
                                        </div>
                                    </li>
                                    <li>
                                        <div class="single-thumb">
                                            <img src="~/images/product-quick/product-4.jpg" alt="">
                                        </div>
                                    </li>
                                    <li>
                                        <div class="single-thumb">
                                            <img src="~/images/product-quick/product-5.jpg" alt="">
                                        </div>
                                    </li>
                                </ul>
                            </div> <!-- Modal Quick View Image -->
                        </div>
                        <div class="col-md-6">
                            <div class="product-quick-view-content mt-30">
                                <h3 class="product-title">Trans-Weight Hooded Wind and Water Resistant Shell</h3>
                                <p class="reference">Reference: demo_12</p>
                                <ul class="rating">
                                    <li class="rating-on"><i class="fas fa-star"></i></li>
                                    <li class="rating-on"><i class="fas fa-star"></i></li>
                                    <li class="rating-on"><i class="fas fa-star"></i></li>
                                    <li class="rating-on"><i class="fas fa-star"></i></li>
                                    <li class="rating-on"><i class="fas fa-star"></i></li>
                                </ul>
                                <div class="product-prices">
                                    <span class="sale-price"> €23.90</span>
                                    <span class="regular-price">€21.03</span>
                                    <span class="save">Save 12%</span>
                                </div>
                                <p class="product-description">Block out the haters with the fresh adidas® Originals Kaval Windbreaker Jacket. <br> Part of the Kaval Collection. <br> Regular fit is eased, but not sloppy, and perfect for any activity. <br> Plain-woven jacket specifically constructed for freedom of movement.</p>
                                <div class="product-size-color flex-wrap">
                                    <div class="product-size">
                                        <h5 class="title">Size</h5>
                                        <select>
                                            <option value="1">S</option>
                                            <option value="2">M</option>
                                            <option value="3">L</option>
                                            <option value="4">XL</option>
                                        </select>
                                    </div>
                                    <div class="product-color">
                                        <h5 class="title">Color</h5>
                                        <div class="color-input">
                                            <div class="single-color color-1">
                                                <input type="radio" id="radio-1" name="color">
                                                <label for="radio-1"></label>
                                            </div>
                                            <div class="single-color color-2">
                                                <input type="radio" id="radio-2" name="color">
                                                <label for="radio-2"></label>
                                            </div>
                                            <div class="single-color color-3">
                                                <input type="radio" id="radio-3" name="color">
                                                <label for="radio-3"></label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="product-quantity">
                                        <h5 class="title">Quantity</h5>
                                        <div class="quantity d-flex">
                                            <button type="button" id="sub" class="sub"><i class="fal fa-minus"></i></button>
                                            <input type="text" value="1" />
                                            <button type="button" id="add" class="add"><i class="fal fa-plus"></i></button>
                                        </div>
                                    </div>
                                </div>
                                <div class="product-add-cart">
                                    <button><i class="icon ion-bag"></i> Add to cart</button>
                                </div>
                                <div class="product-wishlist-compare">
                                    <ul class="d-flex flex-wrap">
                                        <li><a href="#"><i class="fal fa-heart"></i> Add to wishlist</a></li>
                                        <li><a href="#"><i class="fal fa-repeat"></i> Add to compare</a></li>
                                    </ul>
                                </div>
                                <div class="product-share d-flex">
                                    <p>Share</p>
                                    <ul class="social media-body">
                                        <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                        <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                        <li><a href="#"><i class="fab fa-google"></i></a></li>
                                        <li><a href="#"><i class="fab fa-pinterest-p"></i></a></li>
                                    </ul>
                                </div>
                            </div> <!-- Modal Quick View Content -->
                        </div>
                    </div> <!-- row -->
                </div>  <!-- Modal Body -->
            </div> <!-- Modal content -->
        </div> <!-- Modal dialog -->
    </div> <!-- Modal -->
    <!--====== Quick View Part Ends ======-->
    <!--====== BACK TOP TOP PART START ======-->

    <a href="#" class="back-to-top"><i class="ion-android-arrow-up"></i></a>

    <!--====== BACK TOP TOP PART ENDS ======-->
    <!--====== Vendors js ======-->
    <script src="~/assets/js/vendor/jquery-1.12.4.min.js"></script>
    <script src="~/assets/js/vendor/modernizr-3.7.1.min.js"></script>

    <!--====== Plugins js ======-->
    <script src="~/assets/js/plugins/popper.min.js"></script>
    <script src="~/assets/js/plugins/bootstrap.min.js"></script>
    <script src="~/assets/js/plugins/slick.min.js"></script>
    <script src="~/assets/js/plugins/jquery.countdown.min.js"></script>
    <script src="~/assets/js/plugins/jquery-ui.min.js"></script>


    <!--====== Use the minified version files listed below for better performance and remove the files listed above ======-->
    <!-- <script src="~/assets//js/plugins.min.js"></script> -->
    <!--====== Main Activation js ======-->
    <script src="~/assets/js/main.js"></script>




</body>


<!-- Mirrored from demo.hasthemes.com/allup/allup/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 04 Sep 2020 10:47:16 GMT -->
</html>

