@model Blog
@{ ViewData["Title"] = "Detail"; }

<div class="container">
    <div class="row">
        <div class="col-6">
            <img style="width:250px; height:150px" src="~/images/@Model.ImageUrl" /><br />
            <span>Blog Title:</span>
            <p>@Model.Title</p>
            <span>Blog Homepage Text:</span>
            <p>@Model.HomePageText</p>
            <span>Blog Text:</span>
            <p>@Model.BlogText</p>
            <div class="col-6">
                <a asp-controller="Blog" asp-action="Index" class="btn btn-warning">Go Back</a>
            </div>
        </div>
    </div>
</div>
