@model Feature
@{ ViewData["Title"] = "Update"; }

<div class="container">
    <div class="row">
        <div class="col-6">
            <img style="width:150px; height:150px" src="~/banner-icon/@Model.ImageUrl" />
            <form class="forms-sample" method="Post" enctype="multipart/form-data">
                <div class="form-group">
                    <label asp-for="Photo"></label>
                    <input asp-for="Photo" class="form-control" accept="image/*" placeholder="Name">
                    <span asp-validation-for="Photo" class="text-danger"></span>
                </div>
                <p>@Model.BannerTitle</p>
                <div class="form-group">
                    <label asp-for="BannerTitle"></label>
                    <input asp-for="BannerTitle" class="form-control" placeholder="MainTitle">
                    <span asp-validation-for="BannerTitle" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <p>@Model.BannerText</p>
                    <label asp-for="BannerText"></label>
                    <textarea asp-for="BannerText" class="form-control" placeholder="SubTitle"></textarea>
                    <span asp-validation-for="BannerText" class="text-danger"></span>
                </div>
                <div class="col-6">
                    <a asp-controller="Feature" asp-action="Index" class="btn btn-warning">Go Back</a>
                </div>
                <button class="btn btn-light">Update</button>
            </form>
        </div>
    </div>
</div>
