@model AllupBackendProject.Models.ProductBrand

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>ProductBrand</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
             @foreach (var item in ViewBag.IsMainCategory)
            {
                <div class="d-flex align-items-stretch">
                    <div class="form-group form-check d-flex">
                        <h5>@item.Name</h5>
                    </div>
                </div>
                @foreach (var itemsub in ViewBag.SubCategory)
                {
                    @if (itemsub.MainCategory.Id == item.Id)
                    {
                        <div class="form-group form-check d-flex">
                            <label class="form-check-label">
                                <input type="checkbox" class="form-check-input subcategory" name="subcategory" value="@itemsub.Id" />@itemsub.Name
                            </label>
                        </div>
                    }
                }

            }
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

