@model IEnumerable<Feature>
   

 <section class="features-banner-area pt-80 pb-100">
        <div class="container-fluid custom-container">
            <div class="features-banner-wrapper d-flex flex-wrap">
                @foreach (var item in Model)
                {
                    <div class="single-features-banner d-flex">
                        <div class="banner-icon">
                            <img src="~/images/banner-icon/@item.ImageUrl" alt="Icon">
                        </div>
                        <div class="banner-content media-body">
                            <h3 class="banner-title">@item.BannerTitle</h3>
                            <p>@item.BannerText</p>
                        </div>
                    </div> <!-- single features banner -->
                }
            </div> <!-- features banner wrapper -->
        </div> <!-- container -->
    </section>