@model Slider
@{ ViewData["Title"] = "Create"; }

<div class="container">

    <div class="row">
        <div class="col-md-6 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Default form</h4>
                    <p class="card-description">
                        Create Slider Form
                    </p>
                    <form class="forms-sample" method="Post" enctype="multipart/form-data">
                        <div class="form-group">
                            <label asp-for="Photos"></label>
                            <input asp-for="Photos" class="form-control" accept="image/*" placeholder="Name">
                            <span asp-validation-for="Photos" class="text-danger"></span>
                        </div>

                        <button class="btn btn-light">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>
@section Scripts{

    <partial name="_Validation">

}

