@model Slider
@{ ViewData["Title"] = "Delete"; }

<div class="container">
    <div class="row">
        <div class="col-6">
            <img src="~/img/@Model.ImageUrl" />
        </div>
        <div class="col-6">
            <a asp-controller="Slider" asp-action="Index" class="btn btn-warning">Go Back</a>
        </div>
        <form class="forms-sample mt-3" method="Post">
            <button class="btn btn-light">Delete</button>
        </form>
    </div>
</div>

