@model IEnumerable<Slider>
<div class="col-lg-6 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Basic Table</h4>
            <p class="card-description">
                <a class="btn btn-primary" asp-controller="Slider" asp-action="Create"> Create Slider</a>
            </p>
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Image</th>
                            <th>Settings</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
            <tr>
                <td>
                    <img style="width:150px; height:150px" src="~/assets/images/@item.ImageUrl" />
                </td>
                <td>
                    <a asp-controller="Slider" asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger"><i class="mdi mdi-account-remove"></i></a>

                </td>
            </tr>}


                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
